aiofiles==0.5.0
aiogram==2.9.2
aiohttp==3.6.2
aiomysql==0.0.20
aiosqlite==0.15.0
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.1.1
idna==2.10
iso8601==0.1.12
loguru==0.5.1
multidict==4.7.6
Pillow==7.2.0
pycparser==2.20
PyMySQL==0.9.2
PyPika==0.38.0
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
tortoise-orm==0.16.14
typing-extensions==3.7.4.2
win32-setctime==1.0.1
yarl==1.5.1
